<!DOCTYPE html>
<html lang="en">
<head th:fragment="head(title)" xmlns:th="http://www.thymeleaf.org">
    <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/css/luigi.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="menu" xmlns:th='http://www.thymeleaf.org'>
    <ul>
        <li><a th:href="@{/}">Welkom</a></li>
        <li><a th:href="@{/sauzen}">Sauzen</a></li>
        <li><a th:href="@{/talen}">Taal</a></li>
        <li><a th:href="@{/sauzen/alfabet}">Saus alfabet</a></li>
    </ul>
</nav>
</body>
</html>