<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Snacks')">
</head>
<body>
<nav th:replace="fragments::menu"></nav>
<div th:if="${param.toegevoegd}!=null" class="boodschap">Snack is toegevoegd.
    Hij heeft het nummer <span th:text="${param.toegevoegd}"></span>.</div>
<h1>SNACKLIJST</h1>
<p>Aantal snacks: <span th:text="${aantalSnacks}"></span></p>

<ul class="zebra">
    <li th:each="snack:${snacks}" th:object="${snack}">
        <span th:text="|*{naam} EUR *{{prijs}}|"></span>
    </li>
</ul>

<p>De kleur is: <span th:text="${kleur}"></span></p>
<p><span th:if="${reedsBezocht}">Al eerder bezocht.</span></p>



</body>
</html>