<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Snacks')">
</head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Lijst van Snacks</h1>

<ul class="naastMekaar">
    <li th:each="letter:${alfabet}">
        <a th:href="@{/snacks/alfabet/{letter}(letter=${letter})}"
           th:text="${letter}"></a>
    </li>
</ul>
<div th:if="${letter} != null">
    <h2>Snacks die beginnen met <span th:text="${letter}"></span></h2>
    <ul>
        <li th:each="snack:${snacks}" th:text="${snack.naam}"></li>
    </ul>
</div>

</body>
</html>