<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Snack wijzigen')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Snack wijzigen</h1>
<form th:if="${snack} != null" th:object="${snack}" method="post" th:action="@{/snacks/wijzigen}">
    <label>Naam: <span th:errors="*{naam}"></span>
    <input th:field="*{naam}" autofocus required></label>
    <label>Prijs: <span th:errors="*{prijs}"></span>
    <input th:field="*{prijs}" required min="0" type="number" step="0.01"></label>
    <input type="hidden" name="id" th:value="*{id}"/>
    <input type="submit" value="Wijzigen">
</form>
<div class="fout" th:if="${snack} == null">Snack niet gevonden</div>
<script th:src="@{/js/preventDoubleSubmit?js}"></script>

</body>
</html>